@import '../../../colorVariables.scss';

.cards {
    display: block;
    align-items: center;
    justify-content: center;
}

.card {
    float: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

}
  
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  
button {
    display: block;
    margin-left: auto;
    margin-right: 2%;
    font-size: small;
    font-weight: bold;
    background-color: $gray-very-light;
    color: $font-color-light;
    border-radius: 5px;  
    padding: 3px;
}

#refresh {
    margin-top: 20px;
    margin-right: 19%;
    background-color: $gray-light;
}