@import '../../../colorVariables.scss';

.example-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0px 200px 0px 200px;
}

.mat-table {
    background-color: $gray-ultra-light;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px $shadow-color;
    font-size: 0px;
    min-width: 600px;
}

.mat-header-cell {
    color: #cccccc;
    font-size: 14px;
    display: flex;
}

.mat-header-row {
    background-color: $gray-dark;
}

.mat-header-cell.mat-sort-header-sorted {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}

.mat-form-field-infix {
    width: 360px;
}
mat-expansion-panel-header {
    background-color: $gray-dark !important;
}
mat-expansion-panel {
    background-color: #cccccc;
    border-radius: 8px;
    // text-align: center;
    margin-top: 20px !important;
    margin: 0 auto;
    width: 500px;
}

.right {
    text-align: right;
}

.label {
    width: 240px;
    text-align: right;
}
.center {
    display: flex;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-paginator {
    align-self: center;
    max-width: 500px;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
    box-shadow: 2px 2px 2px 2px $shadow-color;
    margin-bottom: 20px;
    background-color: $input-background-color;
}

.mat-row:hover {
    cursor: pointer;
    background-color: #dedede;
    transition: background-color 1s ease-out;
}

mat-row {
    background-color: $font-color-gray;
    margin: 3px;
    border-radius: 5px;
}

#localButtons {
    margin-top: 10px;
    text-align: center;
}

#OCTButton {
    margin-right: 25px;
}

button {
    border-radius: 8px;
    background-color: $gray-dark;
}

select {
    height: 24px;
    width: 200px;
    font-size: 16px;
    margin-left: 10px;
}

mat-icon {
    color: $font-color-light;
}
#filterIcon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
    color: $font-color-light;
}

input {
    padding-left: 5px;
    height: 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: $input-background-color;
}

#filter {
    position: absolute;
    top: 90px;
    left: 68%;
}

#searchButton {
    text-align: center;
    padding: 0px !important;
    width: 40px;
    min-width: 0px;
    margin: 10px;
}

.fields {
    position: relative;
    text-align: center;
}

.fields input {
    position: absolute;
    left: 250px;
}

.field {
    display: flex;
}
  #completeButtons {
    margin-top: 20px;
    text-align: center;
  }

  button {
      border-radius: 8px;
      background-color: $gray-dark;
      box-shadow: 2px 2px 2px 2px $shadow-color;
      margin-right:20px;
      opacity: 0.5;
  }

  .selected {
    opacity: 1.0;
  }


  #tasksFinishedText {
    margin: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
  }
