<div>
  <!--AUTO CONTRAST-->
  <div id="autoContrast" class='flexRow'>
      <span>Contrast Auto</span>
      <mat-checkbox [disableRipple]="true"
          [checked]="false" matTooltip="Automatically compute Brightness and Contrast"
          matTooltipShowDelay="1000" matTooltipPosition="right"></mat-checkbox>
  </div>

  <!--BRIGHTNESS-->
  <div id="brightness" class='flexRow' *ngIf="!autoContrastChecked">
      <mat-icon matTooltip="Brightness" matTooltipShowDelay="1000"
          matTooltipPosition="right"
          class="slider-icon">brightness_medium</mat-icon>

      <mat-slider [min]="minBrightness" [max]="maxBrightness"
          step="1" [(ngModel)]="brightness"></mat-slider>

      <input type="number" [(ngModel)]="brightness"/>
  </div>

  <!--CONTRAST-->
  <div id="contrast" class='flexRow' *ngIf="!autoContrastChecked">
      <mat-icon matTooltip="Contrast" matTooltipShowDelay="1000" matTooltipPosition="right" class="slider-icon">tonality</mat-icon>
      <mat-slider [min]="minContrast" [max]="maxContrast" step="1" [(ngModel)]="contrast"> </mat-slider>
      <input type="number" [ngModel]="contrast"/>
  </div>

  <!--PREPROCESSING-->
  <div id="preprocessing" *ngIf="!localEditing" class='flexRow'>
      <span>Preprocessing</span>
      <mat-checkbox [disableRipple]="true" [checked]="preprocessingChecked" matTooltip="Show/Hide Preprocessing (T)" matTooltipShowDelay="1000"
          matTooltipPosition="right"></mat-checkbox>
  </div>
</div>

