@import '../../../colorVariables.scss';

h3 {
    margin-top: 5%;
    text-align: center;
    font-size: xx-large;
    font-weight: normal;
}

p {
    text-align: center;
}

iframe {
    margin: 0 auto;
    display: block;
}
