<mat-toolbar color="primary" *ngIf="router.url != '/'">
  <span routerLinkActive="active" routerLink="/tasks" style="margin-right: 10px" >Tasks</span>
  <span routerLinkActive="active" routerLink="/dashboard" style="margin-right: 10px" >Dashboard</span>
  <span routerLinkActive="active" routerLink="/gallery" style="margin-right: 10px" *ngIf="userRole==='admin' || userRole==='researcher'" >Gallery</span>
  <span routerLinkActive="active" routerLink="/editor" style="margin-right: 10px" >Editor</span>
  <span routerLinkActive="active" routerLink="/management" style="margin-right: 10px" *ngIf="userRole==='admin' || userRole==='researcher'" >Management</span>

  <div id="loadingDiv" *ngIf='showLoading'>
    <span id="loadingLabel"> <mat-icon id="loadingIcon">{{loadingDownload?"cloud_download":"cloud_upload"}}</mat-icon> {{loadingLabel}}</span>
    <div id="loadingBar"> <div id="bar" [ngStyle]="{'width': (loadingProgress*100).toString()+'%'}"></div> </div>
  </div>

  <span style="right: 70px; position: absolute;" (click)="logout()" > Logout</span>
  <img id="bugtrackerIcon" style="right: 40px; position: absolute; width: 17px;" matTooltip="Report a bug" (click)="toggleBugtracker()" src="../../assets/icons/bug.svg"/>
  <mat-icon id="fullscreenIcon" style="right: 10px; position: absolute;" matTooltip="Fullscreen" (click)="toggleFullScreen()" >fullscreen</mat-icon>
</mat-toolbar>
