@import "../../colorConstants.scss";

.mat-toolbar.mat-primary {
  height: 30px;
  background: $gray-dark;
}

span {
    cursor: pointer !important;
    font-size: 14px;
}

#loadingDiv {
  width: 15%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#loadingBar {
  height: 2px;
  width: 100%;
  border-radius: 5px;
  background-color: $gray-light;
}

#bar {
  height: 100%;
  position: relative;
  border-radius: 5px;
  background-color: white;
  left: 0;
}

#loadingIcon {
  font-size: 17px;
  height: 17px;
  width: 17px;
  margin-right: 3px;
  margin-left: -25px;
  vertical-align: -3px;
  color: #ddd;
}

#loadingLabel{
  width: 100%;
  font-size: 11px;
  text-align: center;
  height: 17px;
  margin-top: -5px;
}
