<div id="toolpropcontainer">
    <div class="toolprops" *ngIf="selectedTool.name == 'eraser' || selectedTool.name == 'brush' || selectedTool.name == 'fillBrush' || selectedTool.name == 'lassoEraser'">
        <div id="toolproptitle"> {{ selectedTool.name | camelCaseToText }} Properties </div>
        <div class="property" *ngIf="selectedTool.name == 'eraser'">
            <span id="sliderTitle">Size </span>
            <mat-slider [(value)]="eraserSize" (input)="handleSliderChange($event)" min="1" max="100">
            </mat-slider>
            <span class="sliderValue">{{eraserSize}} px</span>
            <mat-icon *ngIf="appService.pointerDetected" id="button-pressure" [style.background-color]="toolPropertiesFacadeService.enableBrushMultiplier?'#676767':'transparent'" (click)="togglePressure()">edit</mat-icon>
        </div>
        <div class="property" *ngIf="selectedTool.name == 'brush'">
            <span id="sliderTitle">Size </span>
            <mat-slider [(value)]="brushSize" (input)="handleSliderChange($event)" min="1" max="100">
            </mat-slider>
            <span class="sliderValue" >{{brushSize}} px</span>
            <mat-icon *ngIf="appService.pointerDetected" id="button-pressure" [style.background-color]="toolPropertiesFacadeService.enableBrushMultiplier?'#676767':'transparent'" (click)="togglePressure()">edit</mat-icon>
        </div>
        
        <div class="property" *ngIf="selectedTool.name == 'eraser' || selectedTool.name == 'lassoEraser'">
            <div id="superEraser">
                <span>Erase All</span>
                <mat-checkbox [disableRipple]="true" (change)="toggleEraseAll()" [checked]="eraseAll"></mat-checkbox>
            </div>
        </div>
        <div class="property" *ngIf="selectedTool.name == 'brush' || selectedTool.name == 'fillBrush'">
            <div id="smartMask_div">
                <span>Keep Shape</span>
                <mat-checkbox [disableRipple]="true" (change)="toggleSmartMask()" [checked]="smartMask"></mat-checkbox>
            </div>
        </div>
    </div>
    <div class="noprop" *ngIf="!(selectedTool.name == 'eraser' || selectedTool.name == 'lassoEraser' || selectedTool.name == 'brush' || selectedTool.name == 'fillBrush')">
        No Properties
    </div>
</div>
