// Form
$login-color: #54C3FF;
$login-hover-color: #3EABE6;
$register-color: #3ccc71;
$register-hover-color: mediumseagreen;
$error-color: #ff5050;
$error-bg-color: #ffcccc;

// Grey Shades
$icon-color: rgb(30, 30, 30);
$gray-dark: rgb(70,70,70);
$shadow-color : rgb(80, 80, 80);
$gray-medium: rgb(85,85,85);
$gray: rgb(100, 100, 100);
$gray-light: rgb(130, 130, 130);
$gray-very-light: rgb(170, 170, 170);
$gray-ultra-light: rgb(190, 190, 190);
$input-background-color: rgb(230,230,230);

// Font
$font-color-light: #fff;
$font-color-gray: #ccc;

//Size
$right-width: 245px;
$tools-width: 40px;
$editor-width: 79%;
$header-height: 30px;
$overlay-height: 90px;