<mat-accordion #matAccordElement >
  <mat-expansion-panel cdkDrag [disabled]="isDisabled" [ngClass]="pointFormat" cdkDragBoundary=".example-boundary"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    (mouseup)="onMouseUp($event)"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)">

    <mat-expansion-panel-header>
      <mat-panel-title>
        commentaire
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field (click)="onFormClick($event)">
      <textarea cdkTextareaAutosize matInput #textArea [(ngModel)]="textAreaValue"></textarea>
    </mat-form-field>

    <!-- <button mat-button>Save</button> -->
  </mat-expansion-panel>
</mat-accordion>
