<div id="commentBoxDiv">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>This is a Comment Box</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <textarea matNativeControl></textarea>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)=this.addComment()>Add comment</button>
            <button mat-button (click)=this.cancel()>Cancel</button>
          </mat-card-actions>
        
        
    </mat-card>
</div>