<!-- <div id="editor-box" #editorBox appMouseWheel
    (wheel)="onMouseWheel($event)"
    (mousemove)="onMouseMove($event)"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mouseleave)="onMouseLeave($event)"
    (window:resize)="onResize()"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd($event)"
    (touchcancel)="onTouchCancel($event)"
    (pointerdown)="onPointerDown($event)"
    (pointerup)="onPointerUp($event)"
    (pointermove)="onPointerMove($event)"
    (pointercancel)="onPointerLeave($event)"
    (pointerleave)="onPointerLeave($event)"

    [ngStyle]="{'transform': 'scaleX(' + editorService.scaleX + ')'}">
    <canvas id="main-canvas"></canvas>
    <app-layers id="app-layers"></app-layers>
    <span id="svg-box"></span>
</div> -->

<div id="editor-box" appMousewheel #editorBox
(wheel)="onMouseWheel($event)"
(window:resize)="onResize()"
(mousemove)="onMouseMove($event)"
(mousedown)="onMouseDown($event)"
(mouseup)="onMouseUp($event)"
(mouseleave)="onMouseLeave($event)"
[ngStyle]="{'transform': 'scaleX(' + editorFacadeService.scaleX + ')'}">

  <!-- <canvas style="width: 600px; height: 800px; border: 10px solid black;">
    <app-comment-box></app-comment-box>
  </canvas> -->
  <div class="nothing" style="width: 750px; height: 800px; border: 10px solid black;
                      position: absolute; opacity: 1; z-index: 200;">
    <app-comment-box></app-comment-box>
  </div>

  <canvas #mainCanvas id="main-canvas"></canvas>
  <app-layers id="app-layers"></app-layers>
  <span #svgBox id="svg-box"></span>
</div>
<!-- <ng-template id="template" #commentBox></ng-template> -->
