@import '../../colorVariables';

#bugtrackerDiv {

    margin: 1%;
    background-color: #464646;
    border-radius: 5px;
    padding: 15px;
}

.mat-dialog-title {
    text-align: center;
    margin-top: 10%;
    font-size: x-large;
}

#bugDescriptionBox {
    // margin-bottom: 5px;
    padding: 20px !important;
    // flex-grow: 1;


    border: 0px !important;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px $shadow-color;
    font-size: 14px;

    background-color: $gray;
    color: $font-color-gray;

    width: 75%;
    margin: 0;
    max-height: 150px;

}

#bugContent {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    margin: 0;
}

.mat-dialog-content {
    margin: 0;
}

#buttons {
    margin-top: 5%;
    margin-right: 10%;

}

.bugButton {
    text-align: center;
    margin-left: 10px;
    color: $font-color-light;
}

#bugSend {
    background-color: $register-color;
}

#bugCancel {
    background-color: $error-color;
}

