<div id="taskdialogcontainer">
    <h2 mat-dialog-title>Complete Tasks</h2>
    <div id="tasklist">
        <!--LIST OF TASKS: TODO: Only show one task with NG-Container -->
        <table>
            <tr [(ngModel)]="data" ngDefaultControl>
                <td id="taskName">{{data.task.taskType.title}}</td>
                <td id="taskdesc">{{data.task.taskType.description}}</td>
                <td>
                    <input [checked]="data.task.isComplete" type="checkbox" (change)="checkTask($event.target.checked, task.id)">
                </td>
            </tr>
        </table>
    </div>
    <!--CONFIRM - CANCEL-->
    <div>
        <div id="taskbuttons">
            <button id="cancelTask" mat-button mat-dialog-close (click)="cancelDialog()">Cancel</button>
            <button id="confirmTask" mat-button [mat-dialog-close]="'save'" (click)="closeDialog()">Confirm</button>
            <button id="confirmTask" mat-button [mat-dialog-close]="'next'" (click)="closeDialog()">Confirm & Load Next</button>
        </div>
    </div>
</div>
