<p>management works!</p>
<div>
  <label>Please choose your desired model name here: </label>
  <select name="Model Name" placeholder="Input Model Name Here" [(ngModel)]="modelName" (change)="generateTextFields()">
    <option *ngFor = "let model of availableModels;" >{{model}}</option>
  </select>
</div>
<div *ngFor = "let attribute of attributesForCreation; let i = index">
  <label>{{attribute}}: </label>
  <input cdkTextareaAutosize [(ngModel)]="attributeValues[i]" placeholder="Input values">
</div>
<div>
  <button (click) = "createModel()" *ngIf="attributesForCreation !== undefined && attributesForCreation.length !== 0">
    Create
  </button>
  <p></p>
</div>

