<p>management works!</p>
<button (click) = "clearValues()">Clear Fields</button>
<div>
  <label>Please choose your desired model name here: </label>
  <select name="Model Name" placeholder="Input Model Name Here" [(ngModel)]="modelName" (change)="generateTextFields(); changeUrlParams();">
    <option *ngFor = "let model of availableModels;" >{{model}}</option>
  </select>
</div>
<div *ngFor = "let attribute of attributesForCreation; let i = index">
  <label>{{attribute}}: </label>
  <input cdkTextareaAutosize [(ngModel)]="attributeValues[i]" placeholder="Input values">
</div>
<div>
  <button matTooltip="All fields must be filled. Id is not used." (click) = "createModel('create')" *ngIf="attributesForCreation !== undefined && attributesForCreation.length !== 0">
    Create
  </button>
  <button matTooltip="All fields must be filled. Id is used." (click) = "createModel('update')" *ngIf="attributesForCreation !== undefined && attributesForCreation.length !== 0">
    Update
  </button>
  <button matTooltip="All fields must be filled. Only id is used." (click) = "createModel('delete')" *ngIf="attributesForCreation !== undefined && attributesForCreation.length !== 0">
    Delete
  </button>
  <p>{{successText}}</p>
</div>

