@import "../../../colorConstants.scss";

#biomarkersDiv {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
    overflow-x:  hidden;
    height: 100%;
}

app-biomarkers {
    margin-top: 3px;

    flex-grow: 1;
    flex-basis: 220px;
    min-height: 200px;
}

app-visualization {
    margin-top: 10px;
    flex-grow: 0;
    flex-basis: 150px;
    min-height: 150px;
}

app-timer {
    flex-grow: 0;
    flex-basis: 30px;
    min-height: 30px;
    margin-bottom: 5px;
}

app-comments {

    flex-grow: 1;
    flex-basis: 200px;
    min-height: 100px;
}

button {
    flex-grow: 0;
    flex-basis: 35px;
    min-height: 35px;

    border-radius: 5px;
    color : $font-color-light;
    line-height: 0px;
    background-color: $register-color;
    margin-top: 10px;
}

.spacer {
    flex-grow: 2;
    flex-basis: 10px;
    min-height: 0px;
}
