<div id="biomarkersDiv">
  <app-biomarkers *ngIf="loaded" app-biomarkers #biomarkers></app-biomarkers>
  <app-visualization (flip)="flipHorizontal()" [canvas]="canvas"></app-visualization>
  <div class="spacer"></div>
  <app-timer *ngIf="!appService.localEditing"></app-timer>
  <!-- <app-comments *ngIf="!appService.localEditing"></app-comments> -->

  <!-- Submit Button -->
  <app-save-submission></app-save-submission>

  <button mat-button (click)="saveLocal()" *ngIf="appService.localEditing" [matTooltip]="saveText" matTooltipShowDelay="1000" matTooltipPosition="right">Save</button>
  <!--button mat-button (click)="saveDB()" *ngIf="!appService.localEditing" [matTooltip]="saveText" matTooltipShowDelay="1000" matTooltipPosition="right">Submit</button-->
</div>
