<div id="biomarkersDiv">
  <!-- <app-biomarkers *ngIf="loaded" app-biomarkers #biomarkers></app-biomarkers> -->
  <app-visualization></app-visualization> <!-- (flip)="flipHorizontal()" [canvas]="canvas" -->
  <div class="spacer"></div>
  <app-timer *ngIf="!localEditing"></app-timer>
  <!-- <app-comments *ngIf="!appService.localEditing"></app-comments> -->
  <button mat-button *ngIf="localEditing" [matTooltip]="saveText" matTooltipShowDelay="1000" matTooltipPosition="right">Save</button>
  <button mat-button *ngIf="!localEditing" [matTooltip]="saveText" matTooltipShowDelay="1000" matTooltipPosition="right">Submit</button>
</div>
