<div  (mouseup)="onMouseUp($event)" >
  <div class="container">
      <!--TOOLS-->
      <app-toolbox></app-toolbox>

      <!--EDITION VIEW-->
      <div id="edit-viewport" class="center">
          <div id="overlay">

              <!--TOOLPROPS-->
              <app-tool-properties></app-tool-properties>

              <!--CURRENT BIOMARKER-->
              <div id="classTitle" *ngIf="biomarkersFacadeService.currentElement" matTooltip="Previous (A) Next (D)" matTooltipShowDelay="1000"
                  matTooltipPosition="below">
                  <svg id="circle" width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="6" cy="6" r="6" [ngStyle]="{'fill' : editorFacadeService.biomarkersCurrentElement['color']}" />
                  </svg>
                  {{biomarkersFacadeService.currentElement['type'] | camelCaseToText}}
              </div>


              <!--METADATA-->
              <div id="metadata" *ngIf="editorFacadeService.imageServer">
                  <div>
                      <span class="meta">Image Id : <span class="metaVal">{{editorFacadeService.imageServer.id || 'N\\A'}}</span></span>
                      <span class="meta">Eye Side : <span class="metaVal">{{editorFacadeService.imageServer.eye || 'N\\A' }}</span></span>
                  </div>
                  <div>
                      <span class="meta">Hospital : <span class="metaVal">{{editorFacadeService.imageServer.hospital || 'N\\A'}}</span></span>
                      <span class="meta">Patient : <span class="metaVal">{{editorFacadeService.imageServer.patient || 'N\\A'}}</span></span>
                      <span class="meta">Visit : <span class="metaVal">{{editorFacadeService.imageServer.visit || 'N\\A'}}</span></span>
                      <span class="meta">Code : <span class="metaVal">{{editorFacadeService.imageServer.code || 'N\\A'}}</span></span>
                  </div>
              </div>

              <!--ZOOM WINDOW-->
              <div id="zoomSlider"></div>
              <app-zoom *ngIf="editorFacadeService.imageLoaded"></app-zoom>
              <span id="zoomFactorDisplay"> x {{editorFacadeService.zoomFactor | number: '1.0-1'}} </span>
          </div>

          <app-editor-content id="app-editor-content" #editor></app-editor-content>

          <!--SELECT BIOMARKER ON RIGHT CLICK-->
          <div #contextMenu [ngClass]="this.editorFacadeService.menuState?'context-active':'context-menu'" [ngStyle]="{'left':this.menuPositionX, 'top':this.menuPositionY}">
                <div class="biomarkerflat" *ngFor="let item of biomarkersFacadeService.lastBiomarkers" (click)="selectBiomarker(item)">
                    <svg id="circle" width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" [ngStyle]="{'fill' : item.getAttribute('color')}" />
                    </svg>
                    {{item.id | camelCaseToText}}
                </div>
            </div>
            <div id="bodyblack"></div>
        </div>

      <!--RIGHT MENU-->
      <app-right-menu #rightMenu [canvas]="this.editorFacadeService.backgroundCanvas"></app-right-menu>
  </div>
</div>
