<div id="toolpropcontainer">
    <div class="toolprops" *ngIf="selectedTool.name == 'eraser' || selectedTool.name == 'brush' || selectedTool.name == 'fillBrush' || selectedTool.name == 'lassoEraser'">
        <div id="toolproptitle"> {{ selectedTool.name | camelCaseToText }} Properties </div>
        <div class="property" *ngIf="selectedTool.name == 'eraser'">
            <span id="sliderTitle">Size </span>
            <mat-slider [(value)]="eraserSize" (input)="handleSliderChange($event)" min="1" max="100">
            </mat-slider>
            <span class="sliderValue">{{eraserSize}} px</span>
        </div>
        <div class="property" *ngIf="selectedTool.name == 'brush'">
            <span id="sliderTitle">Size </span>
            <mat-slider [(value)]="brushSize" (input)="handleSliderChange($event)" min="1" max="100" ng-style="{'max-width': appService.pointerDetected?'90px':'128px'}">
            </mat-slider>
            <span class="sliderValue" >{{brushSize}} px</span>
            <button *ngIf="appService.pointerDetected" id="button-pressure" ng-style="{'background-color': toolPropertiesService.enableBrushMultiplier?'#444':'transparent'}" matTooltip="Modulate with pointer pressure" matTooltipShowDelay="1000" matTooltipPosition="bottom" mat-button (click)="togglePressure()"><mat-icon>icon-edit</mat-icon></button>
        </div>
        
        <div class="property" *ngIf="selectedTool.name == 'eraser' || selectedTool.name == 'lassoEraser'">
            <div id="superEraser">
                <span>Erase All</span>
                <mat-checkbox [disableRipple]="true" (change)="toggleEraseAll()" [checked]="eraseAll"></mat-checkbox>
                <button *ngIf="appService.pointerDetected" id="button-pressure" matTooltip="Modulate with pointer pressure" matTooltipShowDelay="1000" matTooltipPosition="bottom" mat-button (click)="togglePressure()"><mat-icon>icon-edit</mat-icon></button>
            </div>
        </div>
        <div class="property" *ngIf="selectedTool.name == 'brush' || selectedTool.name == 'fillBrush'">
            <div id="smartMask_div">
                <span>Keep Shape</span>
                <mat-checkbox [disableRipple]="true" (change)="toggleSmartMask()" [checked]="smartMask"></mat-checkbox>
            </div>
        </div>
    </div>
    <div class="noprop" *ngIf="!(selectedTool.name == 'eraser' || selectedTool.name == 'lassoEraser' || selectedTool.name == 'brush' || selectedTool.name == 'fillBrush')">
        No Properties
    </div>
</div>
