<!-- <svg #svgContainer class="svg-container" style="z-index: 4;"
    (mousemove)="onMouseMove($event)"
    (mouseenter)="onMouseIn($event)"
    (mouseup)="onMouseUp($event)"
    (mouseleave)="onMouseLeave($event)"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd($event)">
    <circle #mouseCursor id="mouseCursor" cx="-10" cy="-10" r="0" stroke="black" stroke-width="1" fill="transparent" />
    <circle id="firstPoint" cx="-10" cy="-10" r="7" stroke="black" stroke-width="1" fill="grey" />
    <line #dashStroke id="dashStroke" stroke-dasharray="4" x1="-10" y1="-10" x2="-10" y2="-10" stroke="black" />
</svg> -->
<!--
<svg #svgContainer class="svg-container" style="z-index: 4;">
    <circle #mouseCursor id="mouseCursor" cx="-10" cy="-10" r="0" stroke="black" stroke-width="1" fill="transparent" />
    <circle id="firstPoint" cx="-10" cy="-10" r="7" stroke="black" stroke-width="1" fill="grey" />
    <line #dashStroke id="dashStroke" stroke-dasharray="4" x1="-10" y1="-10" x2="-10" y2="-10" stroke="black" />
</svg> -->

<svg #svgContainer class="svg-container" style="z-index: 4;"
    (mousemove)="onMouseMove($event)"
    (mouseenter)="onMouseIn($event)"
    (mouseup)="onMouseUp($event)"
    (mouseleave)="onMouseLeave($event)"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd($event)">
    <circle #mouseCursor id="mouseCursor" cx="-10" cy="-10" r="0" stroke="black" stroke-width="1" fill="transparent" />
    <circle id="firstPoint" cx="-10" cy="-10" r="7" stroke="black" stroke-width="1" fill="grey" />
    <line #dashStroke id="dashStroke" stroke-dasharray="4" x1="-10" y1="-10" x2="-10" y2="-10" stroke="black" />
</svg>
