<div id="completeButtons">
    <button mat-button (click)="showIncomplete()" id="incompleteButton" [class.selected]="!showCompleted">
        <span>Incomplete</span>
    </button>
    <button mat-button (click)="showComplete()" id="completeButton" [class.selected]="showCompleted">
        <span>Completed</span>
    </button>
</div>
<div class="example-container">
  <mat-table #table [dataSource]="data" matSort matSortActive="id" matSortDisableClear>
      <ng-container matColumnDef="thumbnail">
          <mat-header-cell *matHeaderCellDef disableClear>Preview</mat-header-cell>
          <mat-cell *matCellDef="let task"> <img [src]="task.thumbnail | safeImage" height="64px" /> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="taskId">
          <mat-header-cell *matHeaderCellDef disableClear>Task</mat-header-cell>
          <mat-cell *matCellDef="let task"> {{task.taskId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="taskGroupTitle">
            <mat-header-cell *matHeaderCellDef disableClear>Group Title</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{task.taskGroupTitle}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <ng-container matColumnDef="imageId">
            <mat-header-cell *matHeaderCellDef disableClear>ImageId</mat-header-cell>
            <mat-cell *matCellDef="let task"> {{task.imageId}}</mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
        (mouseup)="loadImage(row.imageId.toString())"
      >
  </mat-row>
  </mat-table>

  <p *ngIf="!showCompleted && noData" id="tasksFinishedText"> You've completed all your assigned tasks. <br />Thanks for your work! </p>

  <mat-paginator [length]="length" [pageSize]="pageSize"></mat-paginator>
</div>
