@import '../../variables';

div {
    color: white;
}

#errorDiv {
    margin: 1%;
    background-color: #464646;
    border-radius: 5px;
    padding: 15px;
}

#buttons {
    margin-top: 5%;
    margin-right: 10%;

}

button {
    text-align: center;
    margin-left: 10px;
    color: $font-color-light;
}