@import '../../../../variables';

#selectorDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


button {
    flex-grow: 1;
    flex-basis: 30px;
    min-height: 30px;
    margin-top: 5px;

    border: 0px; 
    border-right: 1px $gray-ultra-light solid;
    color : $font-color-light;
    line-height: 0px;
    background-color: $gray-very-light;
}

button:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button:last-of-type{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 0;
}

.pressed{
    background-color: $gray;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.flexRow span{
    margin-left: 5px;
}