<div id="title">
  LIV4D RETINA INTERFACE
</div>
<div class="formContainer">
<form >
  <div class="field">
      <input  matTooltipPosition="right" class="control-form" placeholder="Email" type="text" id="email" formControlName="email" >
  </div>
  <div class="field">
    <input  matTooltipPosition="right" class="control-form" placeholder="Password" type="password" id="password" formControlName="password" >
    <div>

    </div>
  </div>
  <div class="loginDiv">
    <button type="submit" class="loginBtn" >LOGIN</button>
  </div>
</form>
</div>
