<div (window:keydown)="onKeyDown($event)">
    <div id='visualizationHeader' class='flexRow'>
        <span>Display</span>
        <button id="button-flip" matTooltip="Flip (M)" matTooltipShowDelay="1000" matTooltipPosition="right" mat-button (click)="flipHorizontal()"><mat-icon>flip</mat-icon></button>
    </div>
    <!--AUTO CONTRAST-->
    <div id="autoContrast" class='flexRow'>
        <span>Contrast Auto</span>
        <mat-checkbox [disableRipple]="true" (change)="toggleAutoContrast()" [checked]="autoContrastChecked" matTooltip="Automatically compute Brightness and Contrast" matTooltipShowDelay="1000"
            matTooltipPosition="right"></mat-checkbox>
    </div>
    <!--BRIGHTNESS-->
    <div id="brightness" class='flexRow' *ngIf="!autoContrastChecked">
        <mat-icon matTooltip="Brightness" matTooltipShowDelay="1000" matTooltipPosition="right" (dblclick)="resetBrightness()" class="slider-icon">brightness_medium</mat-icon>
        <mat-slider [min]="minBrightness" [max]="maxBrightness" step="1" [(ngModel)]="brightness" (input)="changeBrightness($event)">
        </mat-slider>
        <input type="number" [(ngModel)]="brightness" (input)="changeBrightness($event)" (focus)="disableOnKeyDown()" (blur)="enableOnKeyDown()"/>
    </div>
    <!--CONTRAST-->
    <div id="contrast" class='flexRow' *ngIf="!autoContrastChecked">
        <mat-icon matTooltip="Contrast" matTooltipShowDelay="1000" matTooltipPosition="right" (dblclick)="resetContrast()" class="slider-icon">tonality</mat-icon>
        <mat-slider [min]="minContrast" [max]="maxContrast" step="1" [(ngModel)]="contrast" (input)="changeContrast($event)"> </mat-slider>
        <input type="number" [ngModel]="contrast" (input)="changeContrast($event)" (focus)="disableOnKeyDown()" (blur)="enableOnKeyDown()"/>
    </div>
    <!--PREPROCESSING-->
    <div id="preprocessing" *ngIf="!appService.localEditing" class='flexRow'>
        <span>Preprocessing</span>
        <mat-checkbox [disableRipple]="true" (change)="togglePreprocessing()" [checked]="preprocessingChecked" matTooltip="Show/Hide Preprocessing (T)" matTooltipShowDelay="1000"
            matTooltipPosition="right"></mat-checkbox>
    </div>
</div>
