.size-image {
  width: 500 px;
  height: 500 px;
  overflow:hidden;
}

#slide{
  width:100%;
  height:100%;
  transition: transform .6s;
}

canvas{
  border: solid green 2px;
  width:auto;
  height:auto;
  max-width:100%;
}
